
<div class="row padding-l m-t-1">
    <div class="col-xs-12 col-sm-12 col-md-3">
    </div>
  <div class="col-xs-12 col-sm-12 col-md-1">
    <label>Fecha Nómina:</label>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 form-group padding-r">
    <input type="text" placeholder="Datepicker" class="form-control b-radius-0" bsDatepicker [(ngModel)]="fechaNomina" placeholder="Fecha">
  </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <button type="button" class="btn btn-primary" (click)="buscarNomina();">
            <i class="fas fa-search"></i>
            Buscar
        </button>
    </div>
</div>
<div class="row m-t-1">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10" *blockUI="'listaNomina'">
      <div class="card">
        <div class="card-action blue-grey darken-1" style="background-color: #546e7a5c !important;padding:0px !important;border-top:none !important;">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8">
                  <label for=""><strong>Listado de Nomina</strong></label> 
              </div>
          </div>
        </div>
        <div class="card-content">
          <p-table #mytb [value]="nomina" [globalFilterFields]="filtrosGlobales">
            <ng-template pTemplate="caption">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" #busqueda pInputText size="50" placeholder="Filtro para todo el listado" (input)="mytb.filterGlobal(busqueda.value, 'contains')"
                  style="width:auto">
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width:10%;">No. Empleado</th>
                <th>Nombre Empleado</th>
                <th style="width:9%;">Entregas</th>
                <th style="width:8%;">Sueldo</th>
                <th style="width:9%;">+ Bono</th>
                <th style="width:9%;">+ Bono Ad.</th>
                <th style="width:8%;">+ C. Turno</th>
                <th style="width:7%;">+ V. Desp</th>
                <th style="width:8%;">Sub Total</th>
                <th style="width:8%;"> - ISR</th>
                <th style="width:8%;">Total</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nomina>
              <tr>
                <td>{{nomina.numEmpleado}}</td>
                <td>{{nomina.nomEmpleado}}</td>
                <td>{{nomina.numEntregas}}</td>
                <td class="text-a-r">{{nomina.numSueldoBase | currency}}</td>
                <td class="text-a-r">{{nomina.numBono | currency}}</td>
                <td class="text-a-r">{{nomina.numBonoAdicional | currency}}</td>
                <td class="text-a-r">{{nomina.numBonoCubrioTurno | currency}}</td>
                <td class="text-a-r">{{nomina.numValeDespensa | currency}}</td>
                <td class="text-a-r">{{nomina.numTotalBruto | currency}}</td>
                <td class="text-a-r">{{nomina.numISR | currency}}</td>
                <td class="text-a-r">{{nomina.numTotal | currency}}</td>
              </tr>
            </ng-template>
          </p-table>
          <div class="text-a-r" style="padding: .25em .5em;">
              Total Nomina:<strong>{{totalNomina | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
    <block-ui></block-ui>
  </div>