
<div class="row padding-l m-t-1">
    <div class="col-xs-12 col-sm-12 col-md-3">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5" *blockUI="'infoEmpleadoBlock'">
        <div class="card">
        <div class="card-action blue-grey darken-1" style="background-color: #546e7a5c !important;padding:0px !important;border-top:none !important;">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <label for=""><strong>Información del Empleado</strong></label> 
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 text-a-r">
                    <button class="btn btn-primary btn-xs" style="border-radius:0px !important;" type="button" (click)="regresarListado();" name="action">
                        <i class="fas fa-arrow-left"></i>
                        Regresar
                    </button>
                </div>
            </div>
        </div>
            <div class="card-content">
                <form [formGroup]="empleadosForm">
                    <div class="row padding-l m-t-1">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <label>Número Empleado:</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <input type="text"  class="form-control b-radius-0" formControlName="numEmpleado">
                        </div>
                    </div>
                    <div class="row padding-l m-t-1">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <label>Nombre Empleado:</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <input type="text" #empleado class="form-control b-radius-0" placeholder="Nombre del empleado" formControlName="nomEmpleado">
                            <span *ngIf="empleadosForm.controls.nomEmpleado.invalid && empleadosForm.controls.nomEmpleado.touched" class="help-block text-danger">
                                Capturar Nombre del Empleado</span>
                        </div>
                    </div>
                    <div class="row padding-l m-t-1">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label>Rol:</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <ng-select [items]="roles" [selectOnTab]="true" bindValue="value" placeholder="Selecccione un rol" formControlName="rol">
                            </ng-select>
                            <span *ngIf="empleadosForm.controls.rol.invalid && empleadosForm.controls.rol.touched" class="help-block text-danger">
                                Capturar Rol del Empleado</span>
                        </div>
                    </div>
                    <div class="row padding-l m-t-1">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <label>Tipo:</label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-9">
                            <ng-select [items]="tipos" [selectOnTab]="true" bindValue="value" placeholder="Selecccione un tipo" formControlName="tipo">
                            </ng-select>
                            <span *ngIf="empleadosForm.controls.tipo.invalid && empleadosForm.controls.tipo.touched" class="help-block text-danger">
                                Capturar Tipo del Empleado</span>
                        </div>
                    </div>
                    <div class="row padding-l m-t-1 m-b-1">
                        <div class="col-xs-12 col-sm-3 col-md-3"></div>
                        <div class=" col-xs-12 col-sm-3 col-md-3">
                            <button type="button" [disabled]="!empleadosForm.valid" class="btn btn-success btn-samll col-sm-12 b-radius-0" (click)="guardarEmpleado()">
                                <i class="fas fa-save"></i>
                                Guardar
                            </button>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <button type="button" class="btn btn-warning btn-samll col-sm-12 b-radius-0" (click)="regresarListado();">
                                <i class="fas fa-times"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <block-ui></block-ui>
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>
  