
<div class="row" style="margin-top:1em;">
  <div class="col-xs-12 col-sm-12 col-md-2">
  </div>
  <div class="colxs-12 col-sm-12 col-md-8" *blockUI="'listaEmpleados'">
    <div class="card">
      <div class="card-action blue-grey darken-1" style="background-color: #546e7a5c !important;padding:0px !important;border-top:none !important;">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <label for=""><strong>Listado de Empleados</strong></label> 
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-a-r">
                <button #btnAgregar class="btn btn-primary btn-xs" style="border-radius:0px !important;" type="button" (click)="agregarEmpleado();" name="action">
                    <i class="fas fa-plus"></i>
                    Agregar
                </button>
            </div>
        </div>
      </div>
        <div class="card-content">
            <p-table #mytb [value]="empleados" [globalFilterFields]="filtrosGlobales">
                <ng-template pTemplate="caption">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" #busqueda pInputText size="50" placeholder="Filtro para todo el listado" (input)="mytb.filterGlobal(busqueda.value, 'contains')"
                        style="width:auto">
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Numero</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Tipo</th>
                        <th style="width:10%;">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-empleado>
                    <tr>
                        <td>{{empleado.numEmpleado}}</td>
                        <td>{{empleado.nomEmpleado}}</td>
                        <td>{{empleado.rol.nomRol}}</td>
                        <td>{{empleado.tipo.nomTipo}}</td>
                        <td>
                            <div class="text-a-c">
                                <button class="btn btn-success btn-sm btn-h b-radius-0" title="Editar" (click)="editarEmpleado(empleado._id)">
                                    <i class="fas fa-edit"></i>
                                </button>  
                                <button class="btn btn-danger btn-sm btn-h b-radius-0" title="Eliminar" (click)="eliminarEmpleado(empleado._id, empleado.nomEmpleado)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table> 
        </div>
    </div>
  </div>
  <block-ui></block-ui>
</div>

