
<!-- <div>
  <nav class="navbar navbar-dark bg-dark" style="display: inherit !important;">
    <a class="navbar-brand" [routerLink]="['empleados']">
      <i class="fas fa-users"></i>Empleados</a>
    <a class="navbar-brand" routerLink="/movimientos">
      <i class="fas fa-file-signature"></i>Movimientos</a>
    <a class="navbar-brand" routerLink="/nominas">
      <i class="fas fa-file-signature"></i>Nomina</a>
  </nav>
  <router-outlet></router-outlet>
  <toaster-container></toaster-container>
</div> -->
<router-outlet></router-outlet>