
<div>
  <nav class="navbar navbar-dark bg-dark" style="display: inherit !important;">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <a class="navbar-brand lin" routerLink="/empleados">
            <i class="fas fa-users"></i>Empleados</a>
        </div>
        <div class="col-sm-12 col-md-2">
            <a class="navbar-brand lin" routerLink="/movimientos">
            <i class="fas fa-file-signature"></i>Movimientos</a>
        </div>
        <div class="col-sm-12 col-md-2">
            <a class="navbar-brand lin" routerLink="/nominas">
            <i class="fas fa-money-check-alt"></i>Nomina</a>
        </div>
        <div class="col-sm-12 col-md-6 text-a-r">
            <a class="navbar-brand lin" href="" (click)="salir();">
            <i class="fas fa-power-off"></i>Salir</a>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <toaster-container></toaster-container>
</div>