
<div class="row m-t-1">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10" *blockUI="'listaMovimientos'">
    <div class="card">
      <div class="card-action blue-grey darken-1" style="background-color: #546e7a5c !important;padding:0px !important;border-top:none !important;">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <label for=""><strong>Listado de Movimientos</strong></label> 
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-a-r">
                <button class="btn btn-primary btn-xs" #btnAgregar style="border-radius:0px !important;" type="button" (click)="agregarMovimiento();" name="action">
                    <i class="fas fa-plus"></i>
                    Agregar
                </button>
            </div>
        </div>
      </div>
      <div class="card-content">
        <p-table #mytb [value]="movimientos" [globalFilterFields]="filtrosGlobales">
          <ng-template pTemplate="caption">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" #busqueda pInputText size="50" placeholder="Filtro para todo el listado" (input)="mytb.filterGlobal(busqueda.value, 'contains')"
                style="width:auto">
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Número</th>
              <th>Nombre</th>
              <th style="width:10%;">Rol</th>
              <th style="width:10%;">Tipo</th>
              <th style="width:10%;">Fecha</th>
              <th style="width:8%;">Entregas</th>
              <th style="width:6%;">Cub. Turno</th>
              <th style="width:10%;">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-movimiento>
            <tr>
              <td>{{movimiento._id}}</td>
              <td>{{movimiento.refEmpleado.nomEmpleado}}</td>
              <td>{{movimiento.refEmpleado.rol.nomRol}}</td>
              <td>{{movimiento.refEmpleado.tipo.nomTipo}}</td>
              <td>{{movimiento.fecha | date:"dd/MM/yyyy"}}</td>
              <td>{{movimiento.numEntregas}}</td>
              <td>{{movimiento.opcTurno == '0' ? 'NO' : 'SI'}}</td>
              <td>
                <div class="text-a-c">
                    <button class="btn btn-success btn-sm btn-h b-radius-0" title="Editar" (click)="editarMovimiento(movimiento._id)"><i class="fas fa-edit"></i></button>  
                    <button class="btn btn-danger btn-sm btn-h b-radius-0" title="Eliminar" (click)="eliminarMovimiento(movimiento._id)"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <block-ui></block-ui>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>