
<div class="row m-t-1">
  <div class="col-xs-12 col-sm-12 col-md-3">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6" *blockUI="'infoMovBlockUI'">
    <div class="card">
      <div class="card-action blue-grey darken-1" style="background-color: #546e7a5c !important;padding:0px !important;border-top:none !important;">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8">
                  <label for=""><strong>Información del Movimiento</strong></label> 
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 text-a-r">
                  <button class="btn btn-primary btn-xs" style="border-radius:0px !important;" type="button" (click)="regresarListado();" name="action">
                    <i class="fas fa-arrow-left"></i>
                    Regresar  
                  </button>
              </div>
          </div>
      </div>
      <div class="card-content">
        <form [formGroup]="movimientosForm">
            <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <label>Empleado a seleccionar</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 padding-r">
                    <ng-select [items]="empleadosCombo" #comboEmpleado style="border-radius: 0px !important;" [selectOnTab]="true" bindValue="value" placeholder="Selecccione un empleado" formControlName="empleadoSeleccionado"
                        (change)="obtenerEmpleadoSeleccinado()">
                    </ng-select>
                </div>
            </div> 
            <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <label>Número Empleado:</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <input type="number" class="form-control b-radius-0" formControlName="numEmpleado">
                    <span *ngIf="movimientosForm.controls.numEmpleado.invalid && movimientosForm.controls.numEmpleado.touched" class="help-block text-danger">Capturar Número de Empleado</span>
                </div>
          </div>
          <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-12 col-md-2">
                        <label class="">Rol:</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 padding-r">
                    <input type="text" class="form-control b-radius-0" formControlName="rol">
                </div>
          </div>
          <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <label>Tipo:</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 padding-r"> 
                    <input type="text" class="form-control b-radius-0" formControlName="tipo">
                </div>
          </div>
          <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <label>Fecha:</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 form-group padding-r">
                    <input type="text" placeholder="Datepicker" class="form-control b-radius-0" bsDatepicker placeholder="Fecha" formControlName="fecha">
                    <span *ngIf="movimientosForm.controls.fecha.invalid && movimientosForm.controls.fecha.touched" class="help-block text-danger">Capturar fecha</span>
                </div>
          </div>
          <div class="row padding-l m-t-1">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="opcViajes" formControlName="opcEntrega" (change)="limpiarCantidadEntregas()">
                    <label class="form-check-label" for="opcViajes">Cantidad de Entregas</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="opcCubrioTurno" formControlName="opcTurno" (change)="limpiarRolCubierto()">
                    <label class="form-check-label" for="opcCubrioTurno">Cubrio Turno</label>
                </div>
            </div>
        </div>
            <div class="row padding-l m-t-1">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <input type="number" class="form-control b-radius-0" formControlName="numEntregas">
                    <span *ngIf="!movimientosForm.get('numEntregas').value && movimientosForm.get('opcEntrega').value" class="help-block text-danger">Capturar Número de entregas</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 padding-r">
                    <ng-select [items]="roles" [selectOnTab]="true" bindValue="value" placeholder="Selecccione un rol" formControlName="refRolTurno">
                    </ng-select>
                    <span *ngIf="movimientosForm.controls.rol.invalid && movimientosForm.controls.rol.touched && movimientosForm.get('opcTurno').value" class="help-block text-danger">
                        Capturar Rol del Empleado</span>
                </div>
            </div>
            
          <div class="row m-t-1 m-b-1" >
            <div class="col-xs-12 col-sm-3 col-md-3"></div>
            <div class=" col-xs-12 col-sm-3 col-md-3">
              <button type="button" [disabled]="!movimientosForm.valid || !movimientosForm.get('numEmpleado').value || (!movimientosForm.get('numEntregas').value && movimientosForm.get('opcEntrega').value)" 
              class="btn btn-success btn-samll col-sm-12 b-radius-0" (click)="guardarMovimiento()">
                <i class="fas fa-save"></i>
                Guardar
              </button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <button type="button" class="btn btn-warning btn-samll col-sm-12 b-radius-0" (click)="regresarListado();">
                <i class="fas fa-times"></i>
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <block-ui></block-ui>
  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
</div>