.btn-h{
    height: 30px !important;
}
.m-t-1{
    margin-top: 1em !important;
}
.m-b-1{
    margin-bottom: 1em !important;
}
.text-a-r{
    text-align: right !important;
}
.text-a-c{
    text-align: center !important;
}
.padding-l{
    padding-left: 5px !important;
}
.padding-r{
    padding-right: 25px !important;
}
/* .b-radius-0 {
    border-radius: 0px !important;
} */
.c-pointer{
    cursor: pointer !important;
}
.padding-0{
    padding-left: 0px !important;   
}