<div class="">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <div class="row text-a-c">
        <div class="col-md-4">
        </div>
        <div  style="margin-top:50px;" class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <strong>Acceso</strong> 
                    </div>
                </div>
                <div style="padding-top:30px" class="panel-body" style="text-align: center;">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form  class="form-horizontal login" [formGroup]="loginForm">
                    <div style="margin-bottom: 25px;text-align: center;" class="input-group">
                    <span class="input-group-addon" style="width: 30px;background-color: #80808059;">
                        <i class="fas fa-user" style="padding-top: 10px;"></i>
                    </span>
                    <input type="text" #email class="form-control" placeholder="email" formControlName="email">
                    </div>
        
                    <div style="margin-bottom: 25px;text-align: center;" class="input-group">
                    <span class="input-group-addon" style="width: 30px;background-color: #80808059;">
                        <i class="fas fa-lock" style="padding-top: 10px;"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                    </div>
                    <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls" class="text-a-r">
                        <button type="button" [disabled]="!loginForm.valid" (click)="login();" class="btn btn-success">
                            <i class="fas fa-sign-in-alt"></i>
                            Entrar
                        </button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>